<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->




		<vc:category></vc:category>

	</div><!--/category-products-->

	<div class="panel-group category-products" id="accordian">
		<h2>Brand</h2>
		<!--Brands-productsr-->




		<vc:brands></vc:brands>

	</div><!--/Brands-products-->



	

</div>